<div class="detail-box col-xs-12 col-sm-10 col-sm-offset-1"> 	
 	<div class="panel panel-default">				

		<div class="panel-heading">
			<h1><%= @place.name %></h1>
		</div>
		<div class="panel-body">		
			<i><%= @place.address %></i>
			<br/><br/>
			<p><%= @place.description %></p>

			<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    
  <% if @place.latitude.present? && @place.longitude.present? %>  
    <script>
var marker;
function initMap() {
  
  var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  
    marker = new google.maps.Marker({
    position: myLatLng,
    draggable: false,
    animation: google.maps.Animation.DROP,
    map: map,
    title: 'Hello World!'
  });
  marker.addListener('click', toggleBounce);
}
function toggleBounce() {
  if (marker.getAnimation() !== null) {
    marker.setAnimation(null);
  } else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }
}

    </script>
    <div id="map"></div>
    <% end %>

    <br />
    <div class="clear"></div>
    <%= simple_form_for @comment, url: 'place_comments_path(@place)' do |f| %>
    <%= f.input :message %>
    <%= f.input :rating %><br />
    <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
    <% end %>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
  </body>
</html>
				<div class="pull-right">
					<% if current_user && current_user == @place.user %>
					<%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
						
					<%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
					<% end %>
				</div>
		</div>
	</div>
</div>	